<div	class="center	jumbotron">
		<h1>About</h1>
		<h2>
				Festify es una app que permite conectarte a Spotify y obtener información sobre conciertos y festivales de música más famosos en tu país, ¡lo único que necesitas es tener una cuenta en Spotify y pasión por tus bandas favoritas!
		</h2>
		<%=	link_to	"Sign	up	now!",	"#",	class:	"btn	btn-lg	btn-primary"	%>
</div>
<%=	link_to	image_tag("rails.png",	alt: "Rails logo"), 'http://rubyonrails.org/'	%>
