<div	class="center">
		<%=	link_to	image_tag("logo_fondo_transparente.png",	alt: "Festify logo"), root_path	%>
		<h4>
				Festify es una app que permite conectarte a Spotify y obtener información sobre conciertos y festivales de música más famosos, ¡solo necesitas es tener una cuenta Spotify y pasión por tus bandas favoritas!
		</h4>
</div>
<!--<%=	link_to	image_tag("rails.png",	alt: "Rails logo"), 'http://rubyonrails.org/'	%>-->
