<%	provide(:title,	'Contact')	%>
<h1>Contact the developers</h1>
<h3>Bidah</h3>
mail: <a href:"mailto:#"></a>

<h3>Canas</h3>
mail: <a href:"mailto:crsilva@ing.uchile.cl">crsilva@ing.uchile.cl</a>

<h3>Waflessnet</h3>
mail: <a href:"mailto:#"></a>