<div	class="center">
		<%=	link_to	image_tag("logo_fondo_transparente.png",	alt: "Festify logo"), root_path	%>
		<h1>¡Encuentra los mejores conciertos en el país!</h1>
		<br>
		<div class = "center">

		<%=	link_to	"¡Loggea con Spotify!",	"#",	class:	"btn btn-lg btn-warning strokeme"	%>
		<%=	link_to	"¡Promociona un evento!",	"#",	class:	"btn btn-lg btn-success strokeme"	%>
		</div>
</div>

<!--
<%=	link_to	image_tag("rails.png",	alt: "Rails logo"), 'http://rubyonrails.org/'	%>
-->