<header	class="navbar	navbar-fixed-top	navbar-inverse">
			<span id="logo">
				<!-- <span style="color:#FFAC0D">FESTI</span>FY<i class="fa fa-spotify fa-lv"></i> -->
				<%= image_tag 'logo_fondo_transparente.png', style: 'max-width:70%' %>
			</span>

			<nav>
					<ul	class="nav	navbar-nav	navbar-right">
							<li><%=	link_to	"Home",			root_path	%></li>
							<li><%=	link_to	"Log	in",	"#"	%></li>
					</ul>
			</nav>
</header>