<header	class="navbar	navbar-fixed-top	navbar-inverse">
	<div	class="container">
			
			<span id="logo">
				<span style="color:#b7d333">FESTI</span>FY
			</span>

			<nav>
					<ul	class="nav	navbar-nav	navbar-right">
							<li><%=	link_to	"Home",			root_path	%></li>
							<li><%=	link_to	"Log	in",	"#"	%></li>
					</ul>
			</nav>
	</div>
</header>